.ts-our-blog {
    clear: both !important;
    position: relative !important;

    .ts-our-blog-item-info {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-text-size-adjust: 100%;
        letter-spacing: 0.1px;
        font-family: "Roboto Slab";
        line-height: 22px;
        font-weight: 300;
        font-style: normal;
        color: #393953;
        font-size: 17px;
        visibility: visible;
        margin: 0;
        box-sizing: inherit;
        background: #f7f7f7 none repeat scroll 0 0;
        bottom: 8%;
        left: 70px;
        right: 70px;
        padding: 50px 55px;
        position: absolute;
        text-align: center;

        &:before {
            background: #000000 none repeat scroll 0 0;
            content: "";
            height: 50px;
            left: 50%;
            position: absolute;
            top: -30px;
            width: 1px;
        }

        h4 {
            &:hover {
                color: rgba(247, 0, 0, 1);
            }
        }

        .item-title {
            font-family: "Montserrat";
            font-weight: bold;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: 18px;
            position: relative;
        }
    }

    .ts-our-blog-item {
        margin-bottom: 130px;
        text-align: center;

        .img-post {
            img {
                &:hover {
                    opacity: 0.3;
                }
            }
        }
    }
}

.blog-main .blog-post img {
    max-width: 100% !important;
    height: 100% !important;
}

.trail-items {
    .trail-item {
        font-size: 18px !important;
    }
}



.featured-news {
    /*
    clear: both;
    position: relative;
    */

    .featured-news-item-info {
        background: #f7f7f7;
        position: relative;
        top: -134px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 35px;
     

        a {
            text-decoration: none;
        }
        .item-title {
            font-family: Montserrat;
            font-weight: bold;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: 14px;
            position: relative;
            text-align: center;
        }

        .post-by {
            color: #696969;
            font-family: Montserrat;
            font-size: 10px;
            letter-spacing: 0.75px;
            text-transform: uppercase;
        }
        li {
            display: inline;
        }


        ul {
            list-style: inside disc;
            padding-left: 0;
            margin-bottom: 0;
        }

        .post-by {
            color: #696969;
            font-family: Montserrat;
            font-size: 10px;
            letter-spacing: 0.75px;
            text-transform: uppercase;
            border-right: 1px solid #000;
            margin-right: 15px;

            .vcard a {
                position: relative;
                font-weight: bold;
                margin-right: 5px;
                padding-right: 7px;
            }
        }




        .post-date {
            font-family: Montserrat;
            font-size: 10px;
            letter-spacing: 0.75px;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    &:before {
        content: " ";
        display: table;
    }
}

.container-fluid.latest-news {
    margin-top: -140px;
}


.blog-articles-list {
    h3 {
        font-size: 18px;
    }
    a {
        text-decoration: none;
        &:hover {
            color: #3b1e1e !important;
        }
    }
    .btn-bricks {
        background: #f5ebeb;
        &:hover {
            color: #e4c9c9 !important;
            background: #bc7a7a;
            border-bottom:solid 2px #7f4040 !important;
        }
        &:focus {
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(171, 88, 88, 0.4);
        }
    }
}

.image-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    overflow: hidden;
}

.full-width {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
