h4 {
    font-family: "Roboto Slab";
    font-weight: normal;
    font-style: normal;
    color: #333333;
}


.swiper-right {
    text-align: right;
    padding-right: 100px;
}

.bg-agenda {
    --bs-bg-opacity: 1;
    background-color: rgba(#BC7A7A, var(--bs-bg-opacity)) !important;
}


.texto-3-colunas {
    column-count: 3;
    column-gap: 40px;
    // Medium devices (tablets, less than 992px)
    @media (max-width: 991.98px) {
        column-count: 2;
    }
    // Small devices (landscape phones, less than 768px)
    @media (max-width: 767.98px) {
        column-count: 1;
        margin-left: 20px;
        margin-right: 20px;
    }
}


.texto-2-colunas {
    column-count: 2;
    column-gap: 40px;
}
