h4 {
    font-family: "Roboto Slab";
    font-weight: normal;
    font-style: normal;
    color: #333333;
}


.swiper-right {
    text-align: right;
    padding-right: 100px;
}

.bg-agenda {
    --bs-bg-opacity: 1;
    background-color: rgba(#BC7A7A, var(--bs-bg-opacity)) !important;
}
