.vc_tta.vc_general .vc_tta-panel-body {
    border: solid transparent;
    box-sizing: content-box;
    padding: 14px 20px;
    display: none;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: padding 0.2s ease-in-out;
    transition: padding 0.2s ease-in-out;
}

.vc_tta.vc_general .vc_tta-panel-body > :last-child {
    margin-bottom: 0;
}

.vc_tta.vc_general .vc_tta-panel.vc_active,
.vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-body {
    display: block;
}
.vc_tta.vc_general .vc_tta-tabs-container {
    display: block;
    position: relative;
    z-index: 3;
}
.vc_tta.vc_general .vc_tta-tabs-list {
    list-style-type: none;
    display: block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.vc_tta.vc_general .vc_tta-tab > a {
    padding: 14px 20px;
    display: block;
    box-sizing: border-box;
    border: solid transparent;
    position: relative;
    text-decoration: none;
    color: inherit;
    -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out,
        border 0.2s ease-in-out;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out,
        border 0.2s ease-in-out;
}

.vc_tta.vc_tta-tabs .vc_tta-panel-heading {
    display: none;
}

.vc_tta.vc_tta-style-classic .vc_tta-panel-body,
.vc_tta.vc_tta-style-classic .vc_tta-panel-heading,
.vc_tta.vc_tta-style-classic .vc_tta-tab > a {
    border-width: 1px;
}
.vc_tta.vc_tta-style-classic
    .vc_tta-panel.vc_active
    + .vc_tta-panel
    .vc_tta-panel-heading,
.vc_tta.vc_tta-style-classic
    .vc_tta-panel:not(:first-child)
    .vc_tta-panel-heading {
    margin-top: -1px;
}

.vc_tta.vc_tta-style-classic.vc_tta-tabs .vc_tta-panel {
    margin: -2px;
}

.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab > a {
    border-color: #e3e3e3;
    background-color: #ebebeb;
    color: #666;
}
.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab.vc_active > a {
    border-color: #f0f0f0;
    background-color: #f8f8f8;
    color: #666;
}

.vc_tta-tabs.vc_tta-tabs-position-left {
    display: flex;
}
.vc_tta-tabs.vc_tta-tabs-position-left .vc_tta-tabs-container {
    overflow: hidden;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-top: 0;
}

.vc_tta-tabs.vc_tta-tabs-position-left .vc_tta-tab {
    display: block;
}

.vc_tta-tabs.vc_tta-tabs-position-left .vc_tta-panels-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
}

.vc_tta-tabs.vc_tta-tabs-position-left .vc_tta-panels {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.vc_tta-tabs:not([class*="vc_tta-gap"]):not(.vc_tta-o-no-fill).vc_tta-tabs-position-left
    .vc_tta-tabs-container {
    margin-left: 0;
    margin-right: 0;
}

a {
    color: #b66f6f !important;
    font-weight: bold;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.vc_tta-panel-body {
    background: #f1f0eb !important;
}
