@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap);
/*! PhotoSwipe main CSS by Dmytro Semenov | photoswipe.com */.pswp{--pswp-bg:#000;--pswp-placeholder-bg:#222;--pswp-root-z-index:100000;--pswp-preloader-color:rgba(79,79,79,.4);--pswp-preloader-color-secondary:hsla(0,0%,100%,.9);--pswp-icon-color:#fff;--pswp-icon-color-secondary:#4f4f4f;--pswp-icon-stroke-color:#4f4f4f;--pswp-icon-stroke-width:2px;--pswp-error-text-color:var(--pswp-icon-color);-webkit-tap-highlight-color:rgba(0,0,0,0);contain:layout style size;display:none;height:100%;left:0;opacity:.003;position:fixed;top:0;touch-action:none;width:100%;z-index:var(--pswp-root-z-index)}.pswp,.pswp:focus{outline:0}.pswp *{box-sizing:border-box}.pswp img{max-width:none}.pswp--open{display:block}.pswp,.pswp__bg{transform:translateZ(0);will-change:opacity}.pswp__bg{background:var(--pswp-bg);opacity:.005}.pswp,.pswp__scroll-wrap{overflow:hidden}.pswp__bg,.pswp__container,.pswp__content,.pswp__img,.pswp__item,.pswp__scroll-wrap,.pswp__zoom-wrap{height:100%;left:0;position:absolute;top:0;width:100%}.pswp__img,.pswp__zoom-wrap{height:auto;width:auto}.pswp--click-to-zoom.pswp--zoom-allowed .pswp__img{cursor:zoom-in}.pswp--click-to-zoom.pswp--zoomed-in .pswp__img{cursor:move;cursor:-webkit-grab;cursor:grab}.pswp--click-to-zoom.pswp--zoomed-in .pswp__img:active{cursor:-webkit-grabbing;cursor:grabbing}.pswp--no-mouse-drag.pswp--zoomed-in .pswp__img,.pswp--no-mouse-drag.pswp--zoomed-in .pswp__img:active,.pswp__img{cursor:zoom-out}.pswp__button,.pswp__container,.pswp__counter,.pswp__img{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.pswp__item{overflow:hidden;z-index:1}.pswp__hidden{display:none!important}.pswp__content{pointer-events:none}.pswp__content>*{pointer-events:auto}.pswp__error-msg-container{display:grid}.pswp__error-msg{color:var(--pswp-error-text-color);font-size:1em;line-height:1;margin:auto}.pswp .pswp__hide-on-close{opacity:.005;pointer-events:none;transition:opacity var(--pswp-transition-duration) cubic-bezier(.4,0,.22,1);will-change:opacity;z-index:10}.pswp--ui-visible .pswp__hide-on-close{opacity:1;pointer-events:auto}.pswp__button{-webkit-touch-callout:none;-webkit-appearance:none;background:none;border:0;box-shadow:none;cursor:pointer;display:block;height:60px;margin:0;opacity:.85;overflow:hidden;padding:0;position:relative;width:50px}.pswp__button:active,.pswp__button:focus,.pswp__button:hover{background:none;border:0;box-shadow:none;opacity:1;padding:0;transition:none}.pswp__button:disabled{cursor:auto;opacity:.3}.pswp__icn{fill:var(--pswp-icon-color);color:var(--pswp-icon-color-secondary);height:32px;left:9px;overflow:hidden;pointer-events:none;position:absolute;top:14px;width:32px}.pswp__icn-shadow{stroke:var(--pswp-icon-stroke-color);stroke-width:var(--pswp-icon-stroke-width);fill:none}.pswp__icn:focus{outline:0}.pswp__img--with-bg,div.pswp__img--placeholder{background:var(--pswp-placeholder-bg)}.pswp__top-bar{display:flex;flex-direction:row;height:60px;justify-content:flex-end;left:0;pointer-events:none!important;position:absolute;top:0;width:100%;z-index:10}.pswp__top-bar>*{pointer-events:auto;will-change:opacity}.pswp__button--close{margin-right:6px}.pswp__button--arrow{height:100px;margin-top:-50px;position:absolute;top:0;top:50%;width:75px}.pswp__button--arrow:disabled{cursor:default;display:none}.pswp__button--arrow .pswp__icn{background:none;border-radius:0;height:60px;margin-top:-30px;top:50%;width:60px}.pswp--one-slide .pswp__button--arrow{display:none}.pswp--touch .pswp__button--arrow{visibility:hidden}.pswp--has_mouse .pswp__button--arrow{visibility:visible}.pswp__button--arrow--prev{left:0;right:auto}.pswp__button--arrow--next{right:0}.pswp__button--arrow--next .pswp__icn{left:auto;right:14px;transform:scaleX(-1)}.pswp__button--zoom{display:none}.pswp--zoom-allowed .pswp__button--zoom{display:block}.pswp--zoomed-in .pswp__zoom-icn-bar-v{display:none}.pswp__preloader{height:60px;margin-right:auto;overflow:hidden;position:relative;width:50px}.pswp__preloader .pswp__icn{-webkit-animation:pswp-clockwise .6s linear infinite;animation:pswp-clockwise .6s linear infinite;opacity:0;transition:opacity .2s linear}.pswp__preloader--active .pswp__icn{opacity:.85}@-webkit-keyframes pswp-clockwise{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}@keyframes pswp-clockwise{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}.pswp__counter{color:var(--pswp-icon-color);font-size:14px;height:30px;line-height:30px;margin:15px 0 0 20px;opacity:.85;text-shadow:1px 1px 3px var(--pswp-icon-color-secondary)}.pswp--one-slide .pswp__counter{display:none}
@charset "UTF-8";
/*!
 * Bootstrap v5.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2021 The Bootstrap Authors
 * Copyright 2011-2021 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-bs-original-title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small, .small {
  font-size: 0.875em;
}

mark, .mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #0d6efd;
  text-decoration: underline;
}
a:hover {
  color: #0a58ca;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: var(--bs-font-monospace);
  font-size: 1em;
  direction: ltr /* rtl:ignore */;
  unicode-bidi: bidi-override;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: #d63384;
  word-wrap: break-word;
}
a > code {
  color: inherit;
}

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 700;
}

figure {
  margin: 0 0 1rem;
}

img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}
@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}
legend + * {
  clear: left;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit;
}

::file-selector-button {
  font: inherit;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.display-1 {
  font-size: calc(1.625rem + 4.5vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-1 {
    font-size: 5rem;
  }
}

.display-2 {
  font-size: calc(1.575rem + 3.9vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-2 {
    font-size: 4.5rem;
  }
}

.display-3 {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-3 {
    font-size: 4rem;
  }
}

.display-4 {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-4 {
    font-size: 3.5rem;
  }
}

.display-5 {
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-5 {
    font-size: 3rem;
  }
}

.display-6 {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-6 {
    font-size: 2.5rem;
  }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.initialism {
  font-size: 0.875em;
  text-transform: uppercase;
}

.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.blockquote > :last-child {
  margin-bottom: 0;
}

.blockquote-footer {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 0.875em;
  color: #6c757d;
}
.blockquote-footer::before {
  content: "— ";
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.figure {
  display: inline-block;
}

.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.figure-caption {
  font-size: 0.875em;
  color: #6c757d;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

*/.swiper{height:100%;width:100%}.swiper .swiper-slide-home{color:#fff}.swiper .swiper-slide-home img{margin-bottom:30px;margin-top:-200px;max-width:350px}.swiper .swiper-slide-home p{font-size:30px;font-weight:500}.swiper .swiper-slide-home .h1,.swiper .swiper-slide-home h1{color:#fff;margin-bottom:20px}.swiper .swiper-slide-home .h1,.swiper .swiper-slide-home .h1 p,.swiper .swiper-slide-home h1,.swiper .swiper-slide-home h1 p{font-family:Roboto Slab;font-size:90px;font-weight:700;line-height:60px;text-transform:uppercase;transition:none 0s ease 0s;visibility:inherit}.swiper .swiper-slide-home .h1 p,.swiper .swiper-slide-home h1 p{border-width:0;color:#edebe8;letter-spacing:2px;margin:15px 0 0;padding:0}.swiper .swiper-slide-home button.btn-primary{background-color:#d9d1cb;border:none;border-radius:30px;line-height:17px;margin-top:30px;padding:12px 35px}.swiper .swiper-slide-home button.btn-primary a{color:#b66f6f;font-family:Roboto,sans-serif;font-size:17px;font-weight:500;line-height:17px}.swiper-slide{align-items:center;background:#fff;background-size:cover;display:flex;font-size:18px;height:900px;justify-content:center;-o-object-fit:cover;object-fit:cover}.cool_timeline .timeline-main-title,.swiper-slide{text-align:center}.event-description,.events .small{padding:10px}.cool_timeline{background:none;padding:5px}.avatar_container{text-align:center}.avatar_container img.center-block.img-responsive.img-circle{border:2px solid #8d9298;box-shadow:10px 10px 10px #888;-webkit-box-shadow:10px 10px 10px #888;-moz-box-shadow:10px 10px 10px #888}.timeline-main-title.center-block.h1,h1.timeline-main-title.center-block{margin:10px 0}dt{display:none}.timeline dl dd.even .circ{background:#b66f6f url(/images/dust-bg.png)}.timeline dl dd.even .events .h4,.timeline dl dd.even .events h4{background:#b66f6f url(/images/dust-bg.png);color:#fff;margin:0;padding:15px;text-transform:uppercase}.timeline dl dd.odd .circ{background:#b66f6f url(/images/dust-bg.png)}.timeline dl dd.odd .events .h4,.timeline dl dd.odd .events h4{background:#b66f6f url(/images/dust-bg.png);color:#fff;margin:0;padding:15px;text-transform:uppercase}.timeline dl dd.even .events:before{border-color:#b66f6f}.timeline dl dd.odd .events:before{border-left-color:#b66f6f}.timeline dl dd.even .time{color:#1b949e}.timeline dl dd.odd .time{color:#f58636}.timeline dl{margin:0;padding:20px 0;position:relative;top:0}.timeline dl:before{background-color:#d09f83;bottom:0;content:"";left:50%;margin-left:-2.5px;opacity:.6;position:absolute;top:0;width:5px;z-index:100}.timeline dl dt{background-color:#414a54;border-radius:55px;-webkit-border-radius:55px;-moz-border-radius:55px;box-shadow:2px 2px 0 0 #222;color:#fff;font-family:Open Sans,sans-serif;font-size:24px;font-weight:400;height:90px;line-height:26px;margin:0 auto 20px;padding:30px 15px;text-align:center;text-shadow:1px 1px 0 #222;top:30px;width:88px}.timeline dl dd,.timeline dl dt{position:relative;z-index:200}.timeline dl dd .circ{background-color:#4fc1e9;border:4px solid #f5f7fa;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;height:22px;left:50%;margin-left:-11px;position:absolute;top:40px;width:22px;z-index:200}.timeline dl dd .time{color:#4fc1e9;display:inline-block;font-family:Open Sans,sans-serif;font-size:32px;left:50%;padding:10px 20px;position:absolute;top:20px;width:150px}.timeline dl dd .events{background-color:#fff;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;box-shadow:0 2px 1px 0 #dedede;margin-top:31px;padding:0;position:relative;width:46%}.timeline dl dd .events:before{border-style:solid;border-width:12px;content:"";height:0;position:absolute;top:12px;width:0}.timeline dl dd .events .events-object{margin-right:10px}.timeline dl dd .events .events-body{zoom:1;display:inline;font-family:Roboto Slab!important;font-size:17px;font-weight:300!important;letter-spacing:.8px;line-height:21px;overflow:hidden}.timeline dl dd .events .events-body a.read_more{color:#777;font-weight:700;text-decoration:none}.timeline dl dd .events .events-body a.read_more:hover{text-decoration:underline}.full p{padding:10px}.timeline dl dd .events .events-body .events-heading{font-size:14px;margin:0 0 10px}.events-object.left_small{border:1px solid #ddd;margin-bottom:10px;padding:3px}.timeline dl dd.pos-right .time{margin-left:-150px;text-align:right}.timeline dl dd.pos-right .events{float:right}.timeline dl dd.pos-right .events:before{border-bottom-color:transparent;border-left-color:transparent;border-top-color:transparent;left:-23px}.timeline dl dd.pos-left .time{margin-left:0;text-align:left}.timeline dl dd.pos-left .events{float:left}.timeline dl dd.pos-left .events:before{border-bottom-color:transparent;border-right-color:transparent;border-top-color:transparent;right:-24px}.ctl_info.event-description{background-color:#f9f5f2;display:inline-block;width:100%}@media screen and (max-width:767px){.timeline dl:before{left:60px}.timeline dl dt{margin:0 0 30px 15px}.timeline dl dd .circ{left:60px}.timeline dl dd .time{left:0}.timeline dl dd.pos-left .time{font-size:18px;margin-left:0;padding:10px 0;text-align:center;width:42px}.timeline dl dd.pos-left .events{float:right;width:84%}.timeline dl dd.pos-left .events:before{border-bottom-color:transparent;border-left-color:transparent;border-top-color:transparent;left:-24px}.timeline dl dd.pos-right .time{font-size:18px;margin-left:0;padding:10px 0;text-align:center;width:42px}.timeline dl dd.pos-right .events{float:right;width:84%}.timeline dl dd.even .events:before{border-right-color:#b66f6f}.timeline dl dd.odd .events:before{border-right-color:#f58636}}@media only screen and (min-width:481px) and (max-width:570px){.timeline dl dd.pos-left .events,.timeline dl dd.pos-right .events{width:80%}}@media screen and (max-width:480px){.timeline dl:before{left:0}.circ{display:none}.timeline dl dd.odd .events:before{border-left:none!important}}@media screen and (min-width:320px){.pull-left{float:none}}.ts-our-blog{clear:both!important;position:relative!important}.ts-our-blog .ts-our-blog-item-info{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust:100%;background:#f7f7f7 none repeat scroll 0 0;bottom:8%;box-sizing:inherit;color:#393953;font-family:Roboto Slab;font-size:17px;font-style:normal;font-weight:300;left:70px;letter-spacing:.1px;line-height:22px;margin:0;padding:50px 55px;position:absolute;right:70px;text-align:center;visibility:visible}.ts-our-blog .ts-our-blog-item-info:before{background:#000 none repeat scroll 0 0;content:"";height:50px;left:50%;position:absolute;top:-30px;width:1px}.ts-our-blog .ts-our-blog-item-info .h4:hover,.ts-our-blog .ts-our-blog-item-info h4:hover{color:#f70000}.ts-our-blog .ts-our-blog-item-info .item-title{font-family:Montserrat;font-size:18px;font-weight:700;letter-spacing:1px;position:relative;text-transform:uppercase}.ts-our-blog .ts-our-blog-item{margin-bottom:130px;text-align:center}.ts-our-blog .ts-our-blog-item .img-post img:hover{opacity:.3}.blog-main .blog-post img{height:100%!important;max-width:100%!important}.trail-items .trail-item{font-size:18px!important}.featured-news{clear:both;position:relative}.featured-news:before{content:" ";display:table}.featured-news .ts-our-blog-item{display:block;margin-bottom:130px;text-align:center}.featured-news .ts-our-blog-item img{-ms-interpolation-mode:bicubic;border:0;height:auto;max-width:100%;vertical-align:middle}.featured-news .ts-our-blog-item .ts-our-blog-item-info{background:#f7f7f7 none repeat scroll 0 0;bottom:8%;left:70px;padding:50px 55px;position:absolute;right:70px;text-align:center}.featured-news .ts-our-blog-item .ts-our-blog-item-info:before{background:#000 none repeat scroll 0 0;content:"";height:50px;left:50%;position:absolute;top:-30px;width:1px}.featured-news .ts-our-blog-item .ts-our-blog-item-info .item-title{font-family:Montserrat;font-size:18px;font-weight:700;letter-spacing:1px;position:relative;text-transform:uppercase}.featured-news .ts-our-blog-item .ts-our-blog-item-info .item-title:before{background:#000;content:"";height:50px;left:50%;position:absolute;top:-75px;width:1px}.featured-news .ts-our-blog-item .ts-our-blog-item-info .post-by{color:#696969;font-family:Montserrat;font-size:10px;letter-spacing:.75px;text-transform:uppercase}.featured-news .ts-our-blog-item .ts-our-blog-item-info li{display:inline}.featured-news .ts-our-blog-item .ts-our-blog-item-info ul{list-style:disc inside}.blog-articles-list .h3,.blog-articles-list h3{font-size:18px}.blog-articles-list .btn-bricks{background:#f5ebeb}.blog-articles-list .btn-bricks:hover{background:#bc7a7a;border-bottom:2px solid #7f4040!important;color:#e4c9c9!important}.blog-articles-list .btn-bricks:focus{box-shadow:0 0 0 .25rem rgba(171,88,88,.4);outline:0}.publications-list{padding-bottom:90px}.publications-list .h3,.publications-list h3{font-size:18px}.publications-list .btn-bricks{background:#f5ebeb}.publications-list .btn-bricks:hover{background:#bc7a7a;border-bottom:2px solid #7f4040!important;color:#e4c9c9!important}.publications-list .btn-bricks:focus{box-shadow:0 0 0 .25rem rgba(171,88,88,.4);outline:0}.schedule-itens-list{padding-bottom:90px}.schedule-itens-list .h3,.schedule-itens-list h3{font-size:18px}.schedule-itens-list .btn-bricks{background:#f5ebeb}.schedule-itens-list .btn-bricks:hover{background:#bc7a7a;border-bottom:2px solid #7f4040!important;color:#e4c9c9!important}.schedule-itens-list .btn-bricks:focus{box-shadow:0 0 0 .25rem rgba(171,88,88,.4);outline:0}footer.bg-dark{background:#282844!important}footer.bg-dark .logo-footer:after{background:hsla(0,0%,100%,.2) none repeat scroll 0 0!important;content:"";height:30px!important;margin-left:50%;position:absolute;top:40px!important;width:1px}footer.bg-dark .menu-footer{text-align:center}footer.bg-dark .menu-footer li{display:inline;list-style:none outside none}footer.bg-dark .menu-footer li a{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust:100%;background-color:transparent;box-sizing:inherit;color:#f0ece9!important;font-family:Montserrat;font-size:13px!important;font-style:normal;font-weight:700;letter-spacing:1px;line-height:22px;list-style:none outside none;margin:0 20px;padding:0 0 5px;position:relative;text-decoration:none;text-transform:uppercase!important;transition:all .3s ease 0s}footer.bg-dark .menu-footer li a:hover:after{opacity:1;width:100%}footer.bg-dark .menu-footer li a:after{background-color:#fff;content:"";display:inline-block;height:1px;left:0;margin-top:-2px;opacity:0;position:absolute;top:100%;transition:opacity .3s ease 0s,width .3s linear 0s;width:0}footer.bg-dark ul{list-style:disc inside}footer.bg-dark .copyright .h3,footer.bg-dark .copyright h3{color:#b66f6f!important}footer.bg-dark .copyright p{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust:100%;box-sizing:inherit;color:#81818d!important;font-family:Montserrat;font-size:18px;font-style:normal;font-weight:300;letter-spacing:2px;line-height:1.5em;margin:0 0 15px;padding:0;text-align:center;text-transform:uppercase}footer.bg-dark .copyright p strong{font-weight:700}.menu-style,.tr-header{background-color:#f0e8e2!important;background-image:url(/images/bg-pattern.png);border-bottom:1px solid hsla(70,10%,53%,.22);border-top:7px solid #b66f6f}.tr-header{box-shadow:none!important;display:inline-block;line-height:80px;padding:0 30px;top:0;width:100%;z-index:32}.nav-link{color:#393953!important;font-family:Roboto Slab;font-weight:500;letter-spacing:1px;text-transform:uppercase}.nav-pills .nav-link.active{background:none!important;color:#393953!important}.dropdown-menu-dark{background-color:#b36d70;border-color:rgba(0,0,0,.15);color:#dee2e6}.dropdown-menu-dark .dropdown-item{border-bottom:1px solid hsla(0,0%,100%,.2)!important;line-height:2.5em;padding:0 20px}.dropdown-menu-dark .dropdown-item:active{background-color:#914b4e;color:#fff}.dropdown-toggle:after{color:#b66f6f!important}.dropdown-menu{background:#fbf6f6;border:1px solid #d3a7a7;padding-bottom:0;padding-top:0}.dropdown-menu li .dropdown-item{border-bottom:1px solid #d3a7a7;padding-left:25px;padding-right:25px}.dropdown-menu li .dropdown-item:hover{background:#efe0e0}.dropdown-menu li .dropdown-item:focus{background:#d3a7a7;color:#fbf6f6!important}.dropdown-menu li .dropdown-item:focus a{color:#fbf6f6!important}.dropdown-menu li:last-child .dropdown-item{border-bottom:none}.header-banner-wrap{position:relative}.header-banner-wrap .essence-banner-image{background-position:top;background-size:cover;border-bottom:2px solid #b66f6f;min-height:400px}.header-banner-wrap .header-title-wrap .header-title{color:#393953!important;font-family:Roboto Slab;font-size:32px;letter-spacing:.25px;text-transform:uppercase}.header-breadcrumb-wrap ul{padding-left:0}.header-breadcrumb-wrap ul li{display:inline;list-style:none outside none;margin:0 5px;padding:0 5px;position:relative}.header-breadcrumb-wrap ul li:before{bottom:0;color:inherit;content:"/";left:100%;position:absolute;right:0;top:0}.header-breadcrumb-wrap ul li:last-child:before{content:""}.header-breadcrumb-wrap ul .trail-item{font-family:Crimson Text;font-size:21px;letter-spacing:.5px}.header-breadcrumb-wrap ul .trail-item.trail-end{color:#999}.header-breadcrumb-wrap ul .trail-item a{color:#b66f6f;text-decoration:none}.tr-content-title-banner{left:50%;margin-top:30px;position:absolute;text-align:center;top:50%;transform:translateY(-50%) translateX(-50%);width:100%;z-index:9}.bg-header{background-image:url(/images/bg-header-internas.jpg)}.vc_tta.vc_general .vc_tta-panel-body{border:solid transparent;box-sizing:content-box;display:none;overflow:hidden;padding:14px 20px;transform:translateZ(0);transition:padding .2s ease-in-out}.vc_tta.vc_general .vc_tta-panel-body>:last-child{margin-bottom:0}.vc_tta.vc_general .vc_tta-panel.vc_active,.vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-body{display:block}.vc_tta.vc_general .vc_tta-tabs-container{display:block;position:relative;z-index:3}.vc_tta.vc_general .vc_tta-tabs-list{box-sizing:border-box;display:block;list-style-type:none;margin:0;padding:0}.vc_tta.vc_general .vc_tta-tab>a{border:solid transparent;box-sizing:border-box;color:inherit;display:block;padding:14px 20px;position:relative;text-decoration:none;transition:background .2s ease-in-out,color .2s ease-in-out,border .2s ease-in-out}.vc_tta.vc_tta-tabs .vc_tta-panel-heading{display:none}.vc_tta.vc_tta-style-classic .vc_tta-panel-body,.vc_tta.vc_tta-style-classic .vc_tta-panel-heading,.vc_tta.vc_tta-style-classic .vc_tta-tab>a{border-width:1px}.vc_tta.vc_tta-style-classic .vc_tta-panel.vc_active+.vc_tta-panel .vc_tta-panel-heading,.vc_tta.vc_tta-style-classic .vc_tta-panel:not(:first-child) .vc_tta-panel-heading{margin-top:-1px}.vc_tta.vc_tta-style-classic.vc_tta-tabs .vc_tta-panel{margin:-2px}.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab>a{background-color:#ebebeb;border-color:#e3e3e3;color:#666}.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab.vc_active>a{background-color:#f8f8f8;border-color:#f0f0f0;color:#666}.vc_tta-tabs.vc_tta-tabs-position-left{display:flex}.vc_tta-tabs.vc_tta-tabs-position-left .vc_tta-tabs-container{flex:0 0 auto;margin-top:0;overflow:hidden}.vc_tta-tabs.vc_tta-tabs-position-left .vc_tta-tab{display:block}.vc_tta-tabs.vc_tta-tabs-position-left .vc_tta-panels-container{display:flex;flex:1;flex-direction:column;min-width:0}.vc_tta-tabs.vc_tta-tabs-position-left .vc_tta-panels{flex-grow:1}.vc_tta-tabs:not([class*=vc_tta-gap]):not(.vc_tta-o-no-fill).vc_tta-tabs-position-left .vc_tta-tabs-container{margin-left:0;margin-right:0}a{color:#b66f6f!important;font-weight:700}html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;box-sizing:border-box;overflow-y:scroll}.vc_tta-panel-body{background:#f1f0eb!important}.accordion-item .accordion-collapse .accordion-body{background:#f1f0eb}.accordion-header .accordion-button{background:#f8f8f8;color:#b66f6f;font-weight:700}.accordion-header .accordion-button:hover{background:#f0f0f0}.accordion-button:after{background-image:none!important}.container{margin-top:200px}.title{color:#1a1a1a;margin-bottom:10px;text-align:center}.content{cursor:pointer;margin:auto;overflow:hidden;position:relative}.content .content-overlay{background:rgba(0,0,0,.7);bottom:0;cursor:pointer;height:100%;left:0;opacity:0;position:absolute;right:0;top:0;transition:all .4s ease-in-out 0s;width:100%}.content:hover .content-overlay{opacity:1}.content-image{cursor:pointer;width:100%}img{border-radius:5px;box-shadow:1px 1px 5px 1px rgba(0,0,0,.1)}.content-details{left:50%;opacity:0;position:absolute;text-align:center;top:50%;transform:translate(-50%,-50%);transition:all .3s ease-in-out 0s;width:100%}.content:hover .content-details{left:50%;opacity:1;top:50%}.content-details .h3,.content-details h3{color:#fff;font-weight:500;letter-spacing:.15em;margin-bottom:.5em;text-transform:uppercase}.content-details p{color:#fff;font-size:.8em}.fadeIn-bottom{top:80%}.content-title{font-size:14px}.pswp__custom-caption{background:#282844;border-radius:4px;bottom:16px;color:#fff;font-size:25px;left:50%;max-width:400px;padding:2px 8px;position:absolute;transform:translateX(-50%);width:calc(100% - 32px)}.pswp__custom-caption a{color:#fff;text-decoration:underline}.hidden-caption-content{display:none}.h4,h4{color:#333;font-family:Roboto Slab;font-style:normal;font-weight:400}.pagination>.active>a,.pagination>.active>a:focus{background-color:#393953!important;border-color:#393953!important}
